html,
body {
  height: 100%;
}

body {
  color: $dark-900;
  font-size: 14px;
  line-height: 1.4;
  @extend %opensans-600;
  background-color: $white;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 32px;
  @extend %ruda-600;
  text-align: center;
  margin-bottom: 30px;
}

.btn {
  padding: 12px 24px;
  color: $white;
  border-radius: 6px;
  background-color: $green-900;
}