@mixin line-clamp($font-size,
  $line-height,
  $lines-to-show) {
  @if unitless($line-height)==false {
    $line-height: create-unitless-line-height($font-size, $line-height);
  }

  display: block; // Fallback for non-webkit browsers
  display: -webkit-box;
  font-size: $font-size;
  height: ($font-size * $line-height * $lines-to-show); // Fallback for non-webkit browsers
  line-height: $line-height;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines-to-show;
}

$xl: 1200;
$lg: 992;
$md: 768;
$sm: 576;
$tn: 375;


@mixin max-w($width) {
  @media only screen and (max-width: $width+ 'px') {
    @content;
  }
} 

@mixin max-h($height) {
  @media (max-height: $height+ 'px')and (orientation: landscape) {
    @content;
  }
}

/* @media (max-height: 768px) and (orientation: landscape) */

/* @media (max-height: 576px) and (orientation: landscape) */

/* @media (max-height: 375px) and (orientation: landscape) */