@import 'fonts';
@import 'vars';
@import 'libs';
@import 'reset';
@import 'global';


/*header*/

.header {
  &__top {
    background-color: $dark-800;
    color: $white;
    font-size: 13px;
    line-height: 1.3;
    font-weight: 700;
    text-transform: uppercase;
    padding: 17px 0 15px;
  }

  &__inner {
    display: flex;
    align-items: center;

    &--top {
      justify-content: space-between;
    }
  }


  &__info {
    display: flex;
  }

  &__bottom {
    background-color: $green-900;
    padding: 25px 0;
  }

  &__catalog {
    margin-right: 30px;
    width: 240px;
    color: $green-900;
    background-color: $white;
    padding: 15px 38px 15px 61px;
    border-radius: 6px;
    position: relative;
    background-image: url('../images/icons/nav-icon.svg');
    background-repeat: no-repeat;
    background-position: 18px center;
    transition: background 0.5s;

    &:hover,
    &:active {
      background-color: $green-200;
    }

    &::after {
      content: "";
      position: absolute;
      background-image: url('../images/icons/open.svg');
      background-repeat: no-repeat;
      width: 7px;
      height: 4px;
      top: 50%;
      right: 14px;
    }

    &:hover::after,
    &:active::after {
      transform: rotate(180deg);
    }
  }

}

.info {
  &__item {
    &:not(:last-child) {
      margin-right: 58px;
    }
  }

  &__link {
    position: relative;
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.7;
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      background-repeat: no-repeat;
      background-position: center center;
    }

    &--delivery {
      padding-left: 44px;

      &:before {
        top: -4px;
        width: 32px;
        height: 21px;
        background-image: url(../images/icons/del-address.svg);
      }
    }

    &--phone {
      padding-left: 33px;

      &:before {
        top: -4px;
        width: 22px;
        height: 22px;
        background-image: url(../images/icons/tel.svg);
      }
    }
  }

}

.menu {
  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 29px;
    }
  }

  &__link {
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.7;
    }
  }
}

.logo {
  margin-right: 23px;
}

.form-search {
  margin-right: 43px;
  background-color: $white;
  font-weight: 400;
  border: 0;
  border-radius: 6px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    background-image: url(../images/icons/search.svg);
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    top: 16px;
    left: 13px;

    &:hover {
      opacity: 0.1;
    }
  }

  &__text,
  &__btn {
    padding-left: 52px;
    padding-right: 52px;
    border: 0;
  }

  &__text {
    color: $dark-800;
    width: 419px;
  }

  &__btn {
    width: 157px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    background-color: $dark-800;
    text-transform: uppercase;
    border-radius: 0px 6px 6px 0px;

    &:hover {
      background-color: $dark-400;
    }

    &:active {
      background-color: $dark-800;
    }
  }
}

.user-nav {
  display: flex;
  align-items: center;

  &__link {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    transition: background-color 0.5s;

    &:hover {
      background-color: $white-01;
    }

    &:not(:last-child) {
      margin-right: 12px;
    }

    &--user {
      background-image: url(../images/icons/user.svg);
    }

    &--heart {
      background-image: url(../images/icons/heart.svg);
    }

    &--cart {
      background-image: url(../images/icons/cart.svg);
    }
  }

  &__num {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 10px;
    line-height: 1;
    background-color: $white;
    color: $red-900;
    border-radius: 50%;
  }
}


/*slider*/

.slider-sale {
  &__inner {
    position: relative;
  }

  &__item {

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /*     padding: 142px 0;
 */
    height: 600px;
  }

  &__content {
    transform: translateY(45%);
    padding: 24px;
    padding-bottom: 36px;
    color: $dark-500;
    background-color: $white-08;
    border-radius: 6px;
  }

  &__title {
    @extend %ruda;
    font-weight: 900;
    font-size: 60px;
    line-height: 1.3;
    text-transform: uppercase;
    width: 790px;
    margin-bottom: 8px;
  }

  &__subtitle {
    color: $red-900;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 45px;
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0;
    width: 60px;
    height: 60px;
    background-color: $white-08;
    border-radius: 6px;
    transition: background-color 0.5s ease,
      background-image 0.5s ease,
      color 0.4s linear,
      box-shadow 0.6s;

    &:focus {
      box-shadow: 0px 0px 0px 4px rgba($green-900, 0.5);
    }

    &:hover {
      background-color: $green-200;
    }

    &:active {
      box-shadow: inset 0px 10px 4px rgba($black, 0.1);
      color: $green-700;
    }
  }


  .slick-next,
  .slick-prev {
    background-repeat: no-repeat;
    background-position: center center;
  }

  .slick-next {
    z-index: 1;
    right: 60px;
    background-image: url(../images/icons/next.svg);

    &:hover,
    &:active,
    &:focus {
      background-image: url(../images/icons/next-active.svg);
    }

  }

  .slick-prev {
    z-index: 1;
    left: 60px;
    background-image: url(../images/icons/prev.svg);

    &:hover,
    &:active,
    &:focus {
      background-image: url(../images/icons/prev-active.svg);
    }
  }

}


/*advantages*/
.advant {
  background-color: $silver-100;
  padding-top: 48px;
  padding-bottom: 30px;

  &__list {
    display: flex;
    justify-content: center;
    margin-right: 55px;
  }

  &__item {
    max-width: 264px;
    padding-left: 74px;
    background-repeat: no-repeat;
    background-position: left top;

    &--delivery {
      background-image: url('../images/icons/scooter.svg');
    }

    &--return {
      background-image: url('../images/icons/return.svg');
    }

    &--support {
      background-image: url('../images/icons/support.svg');
    }

    &:not(:last-child) {
      margin-right: 65px;
    }
  }

  &__title {
    font-size: 16px;
    margin-bottom: 7px;
  }

  &__text {
    font-weight: 400;
    color: $dark-500;
  }
}

/*best-product*/
.product-filters {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;

  &__filter {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__btn {
    font-weight: 700;
    font-size: 15px;
    color: $dark-500;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: border 0.5s;
    &:focus, 
    &:hover,
    &:active {
      border-bottom: 3px solid $green-200;
    }
  }
}

.best-product,
.stock-product {
  text-align: center;

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    margin-bottom: 60px;
  }

  &__btn {
    font-size: 18px;
    background-color: $white;
    color: $green-900;

    &:focus {
      box-shadow: 0 0 0 4px rgba($green-900, 0.5);
    }

    &:hover {
      background-color: $green-200;
    }

    &:active {
      box-shadow: inset 0 10px 4px rgba($black, 0.1);
      color: $green-700;
    }
  }
}

.product-card {
  max-width: 300px;
  position: relative;
  padding: 48px 18px 50px 18px;
  border: 1px solid $silver-400;
  border-radius: 6px;
  transition: border 0.5s;
  &--min {
    padding: 12px;
    height: 124px;
    background-color: $white;
  }
  &:hover {
    border-color: $green-900;
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 12px;
    top: 10px;
  }

  &__badge {
    color: $white;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 6px;
    font-size: 10px;
    line-height: 1;
    padding: 3px 6px;
    margin-bottom: 5px;
    &--new {
      background-color: $green-900;
    }
    &--hit {
      background-color: $orange-900;
    }
    &--per {
      background-color: $red-900;
    }
  }

  &__like {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 32px;
    height: 32px;
    background-image: url('../images/icons/like.svg');
    background-color: $white;
    background-repeat: no-repeat;
    background-position: center center;
    transition: background-image 0.5s;
    &:hover {
      background-image: url('../images/icons/like-active.svg');
    }
  }

  &__link {
    &--min {
      display: flex;
    }
  }

  &__img {
    object-fit: cover;
    width: 300px;
    height: 225px;
    &--min {
      width: 100px;
      height: 100px;
      margin-right: 10px;
    }
  }

  &__title {
    font-size: 14px;
    height: 82px;
    text-align: left;
    color: $dark-900;
    overflow: hidden;
    padding-bottom: 10px;
    padding-top: 15px;
    &--min {
      padding: 0;
      margin-bottom: 7px;
      height: 58px;
    }
  }

  &__wrapper {
    text-align: left;
  }

  &__offers {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20px;
    bottom: 15px;
    &--min {
      flex-direction: row;
      left: 123px;
      bottom: 10px;
    }
  }

  &__price {
    &--new {
      font-weight: 400;
      color: $dark-500;
      line-height: 1;
    }
    &--old {
      color: $silver-600;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 6px;
        border-bottom: 1px solid $silver-600;
        transform: rotate(-14.99deg);
      }
    }
    &--min-old {
      font-size: 12px;
      top: 5px;
      &::before {
        bottom: 13px;
      }
    }
    &--min-new {
      font-size: 20px;
      font-weight: 600;
      margin-right: 12px;
      small {
        font-size: 12px;
      }
    }
  }

  &__buy {
    position: absolute;
    bottom: 15px;
    right: 20px;
    padding: 8px;
    width: 32px;
    height: 32px;
    background-image: url('../images/icons/products-cart.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__star {
    position: absolute;
    bottom: 12px;
    right: 14px;
    width: 40px;
    height: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__status {
    display: block;
    margin-bottom: 5px;
    font-size: 10px;
    line-height: 1;
    text-transform: uppercase;
    
    &--in {
      color: $green-900;
    }
    &--out {
      color: $silver-600;
    }
    &--end {
      color: $red-900;
    }
  }
}

.stock-product {
  background-color: $silver-200;
  padding: 75px 0;
}

/*banners*/

.banners {
  padding-top: 10px;
  &__list {
    display: grid;
    grid-template-columns: 2.1fr repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 30px;
  }

  &__item {
    background-position: center center;
    background-repeat: no-repeat;
    height: 300px;
    padding: 76px 32px;
    border-radius: 6px;
    text-transform: uppercase;
    color: $dark-500;

    &:first-child {
      color: $white;
      text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
    }
  }

  &__title {
    @extend %ruda;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 8px;

  }

  &__subtitle {
    display: block;
    margin-bottom: 15px;
  }

  &__link {
    padding-bottom: 6px;
    border-bottom: 2px solid;
  }
}

/*brands*/
.brands {
  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__item {
    opacity: 0.5;
    transition: opacity 0.5s;
    &:hover{
      opacity: 1;
    }
  }
}

.news {
  padding-top: 5px;
  &__links {
    float: right;
    transform: translateY(12px);
    color: $green-900;
    border-bottom: 2px solid $green-900;
    padding-bottom: 5px;
    line-height: 1;
    font-weight: 700;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 30px;
  }

  &__item {
    height: 348px;
    background-position: 100% 0;
    background-repeat: no-repeat;
    padding: 260px 18px 42px 18px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    position: relative;
  }

  &__date {
    position: absolute;
    width: 65px;
    height: 82px;
    top: -6px;
    left: 20px;
    border-radius: 6px;
    background-color: $white;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;

    span {
      display: block;
      font-size: 30px;
      @extend %ruda;
      font-weight: 600;
    }
  }

  &__title {
    font-size: 16px;
    transition: color 0.3s;
    &:hover {
      color: $green-900;
    }
  }

}




/* footer */

.footer {
  background-color: $dark-800;
  color: $white;
  font-weight: 400;
  padding-top: 31px;

  &__logo {
    display: block;
    margin-bottom: 30px;
  }

  &__top,
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__top {
    margin-bottom: 30px;
  }

  &__menu {
    column-count: 3;
    column-gap: 74px;
  }

  &__link,
  &__data a {
    display: block;
    margin-bottom: 18px;
  }

  &__copy {
    padding-top: 5px;
  }

  &__contacts {
    width: 215px;
  }

  &__social-list {
    width: 163px;
    display: flex;
    justify-content: space-between;
  }

  &__social-link {
    display: block;
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.7;
    }

    &--fb {
      background-image: url(../images/icons/facebook.svg);
    }

    &--yt {
      background-image: url(../images/icons/youtube.svg);
    }

    &--tl {
      background-image: url(../images/icons/telegram.svg);
    }

    &--in {
      background-image: url(../images/icons/instagram.svg);
    }
  }

  &__bottom {
    padding-top: 25px;
    border-top: 1px solid $white-01;
    height: 77px;
  }

  &__payment-list {
    display: flex;
  }

  &__payment-item {
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    height: 29px;

    &:not(:last-child) {
      margin-right: 24px;
    }

    &--visa {
      width: 93px;
      background-image: url(../images/icons/visa.svg);
    }

    &--mc {
      width: 49px;
      background-image: url(../images/icons/mc.svg);
    }
  }

}


.form-suscribe {
  margin-right: 65px;

  &__label {
    margin-bottom: 17px;
    line-height: 1;
    display: block;
  }

  &__inner {
    border-radius: 6px;
    background-color: white;
  }

  &__input {
    width: 180px;
    padding: 10px 12px;
    font-size: 14px;
    line-height: 1;
    border: 0;
    border-radius: 6px;
    font-weight: 400;
    margin-right: -2px;
  }

  &__btn {
    font-weight: 700;
    width: 126px;
    padding: 12px 0;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 0px 6px 6px 0px;
    line-height: 1.3;
  }
}