/* footer */

.footer {
  background-color: $dark-800;
  color: $white;
  font-weight: 400;
  padding-top: 31px;

  @include max-w($lg) {
    padding-top: 24px;
    padding-bottom: 48px;

    .container {
      padding: 0;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 30px;

    .logo__img {
      @include max-w($lg) {
        margin: 0 auto;
      }
    }
  }

  &__top,
  &__inner {
    display: flex;
    justify-content: space-between;

    @include max-w($lg) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__top {
    margin-bottom: 30px;
  }


  &__copy {
    padding-top: 5px;
    text-transform: uppercase;

    @include max-w($lg) {
      padding-top: 0;
      margin-bottom: 24px;
    }
  }



  &__bottom {
    padding-top: 25px;
    border-top: 1px solid $white-01;
    height: 77px;
  }

  &__payment-list {
    display: flex;

    @include max-w($lg) {
      margin-bottom: 24px;
    }
  }

  &__payment-item {
    display: block;
    height: 29px;
    fill: $white;

    &:not(:last-child) {
      margin-right: 24px;
    }
  }

}

.contacts {
  width: 215px;

  @include max-w($lg) {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
  }

  @include max-w($sm) {
    display: block;
    text-align: center;
  }

  &__data {
    @include max-w($lg) {
      margin-right: 48px;
    }

    @include max-w($sm) {
      margin-right: 0;
    }

    a {
      display: block;
      margin-bottom: 18px;
    }
  }

  &__social-list {
    width: 163px;
    display: flex;
    justify-content: space-between;

    @include max-w($sm) {
      margin: 0 auto;
    }
  }

  &__social-link {
    display: block;
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: opacity 0.5s;
    fill: $white;

    &:hover {
      opacity: 0.7;
    }
  }
}

.form-suscribe {
  margin-right: 65px;

  @include max-w($lg) {
    margin: 0 auto;
  }

  &__label {
    margin-bottom: 17px;
    line-height: 1;
    display: block;
  }

  &__inner {
    display: flex;
    border-radius: 6px;
    background-color: white;
  }

  &__input {
    width: 180px;
    padding: 10px 12px;
    font-size: 14px;
    line-height: 1;
    border: 0;
    border-radius: 6px;
    font-weight: 400;
    margin-right: -2px;
  }

  &__btn {
    font-weight: 700;
    width: 126px;
    padding: 12px 0;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 0 6px 6px 0;
    line-height: 1.3;
  }
}

.menu {
  column-count: 3;
  column-gap: 74px;

  @include max-w($xl) {
    column-gap: 49px;
  }

  @include max-w($lg) {
    width: 100%;
    padding: 24px;
    padding-left: 120px;
    border-top: 1px solid $white-01;
    border-bottom: 1px solid $white-01;
    margin-bottom: 24px;
  }

  @include max-w($sm) {
    padding: 24px 0 24px 52px;
    column-count: 2;
  }

  @include max-h($md) {
    column-gap: 50px;
    padding-left: 100px;
  }

  &__link {
    display: block;
    margin-bottom: 18px;
  }
}