.breadcrumbs {
  background-color: #F6F6F6;
  margin-bottom: 44px;
  padding: 24px 0;

  &__list {
    display: flex;
    flex-flow: wrap;
  }

  &__item {
    color: #505050;
    font-weight: 400;
    padding-right: 16px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-image: url('../images/icons/arrow-right.svg');
      width: 6px;
      height: 10px;
      top: 5px;
      right: 5px;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }

  &__link {
    color: inherit;
  }

}