.brands {
  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .slick-slide {
    padding-left: 60px;
  }

  &__item {
    opacity: 0.5;
    transition: opacity 0.5s;

    &:hover {
      opacity: 1;
    }
  }
}