.slider-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 20;
  transform: translateX(-100%);
  border-radius: 15px;
  transition: transform 0.5s,
    opacity 0.5s;
  &--active {
    transform: translateX(0%);
    opacity: 1;
    @include max-w($lg) {
      background-color: $white;
      border-radius: 0;
    }
  }

  &__close {
    position: absolute;
    right: 134px;
    top: 92px;
    z-index: 21;
    @include max-w($lg) {
      svg {
        width: 18px;
        height: 18px;

        path {
          fill-opacity: 1;
        }
      }

      top: 26px;
      right: 26px;
    }

  }

  &__slider {
    position: absolute;
    background: #ffffff;
    width: 90%;
    height: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    padding: 40px 0;
    border-radius: 15px;

    .slick-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 0;
      width: 60px;
      height: 60px;
      background-color: $white-08;
      border-radius: 6px;
      transition: background-color 0.5s ease,
        background-image 0.5s ease,
        color 0.4s linear,
        box-shadow 0.6s;

      &:focus {
        box-shadow: 0 0 0 4px rgba($green-900, 0.5);
      }

      &:hover {
        background-color: $green-200;
      }

      &:active {
        box-shadow: inset 0 10px 4px rgba($black, 0.1);
        color: $green-700;
      }
    }

    .slick-next,
    .slick-prev {
      background-repeat: no-repeat;
      background-position: center center;
    }

    .slick-next {
      z-index: 1;
      right: 60px;
      background-image: url(../images/icons/next.svg);
      &:hover,
      &:active,
      &:focus {
        background-image: url(../images/icons/next-active.svg);
      }
      @include max-w($lg) {
        right: 0;
      }
    }

    .slick-prev {
      z-index: 1;
      left: 60px;
      background-image: url(../images/icons/prev.svg);
      &:hover,
      &:active,
      &:focus {
        background-image: url(../images/icons/prev-active.svg);
      }
      @include max-w($lg) {
        left: 0;
      }
    }

    .slick-dots {
      position: absolute;
      display: flex;
      justify-content: space-between;
      top: 90%;
      left: 50%;
      transform: translateX(-25%);
      font-size: 0;
      padding-top: 20px;

      li {
        width: 10px;
        height: 10px;
        background-color: $green-900;
        border-radius: 50%;
        margin-right: 12px;
      }

      .slick-active {
        background-color: $white;
        border: 1px solid $silver-600;
      }
    }

  }

  &__item {
    img {
      max-width: 750px;
      width: 100%;
      margin: 0 auto;

      @include max-w($lg) {
        max-width: 375px;
      }
    }
  }

}